.menu-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.menu-selection, .menu-selection-middle {
  text-align: center;
  flex: 1;
}

.menu-selection-middle {
    flex: 1.5;
}

ul.menu-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.menu-button-style {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

.logo {
    font-weight: bolder;
    font-size: xx-large;
}

main {
    display: flex;

}

.main-area {
    flex: 1;
}

.content {
    padding: 150px 150px 0px 250px;
}

.pictures {
    display: flex;
    padding-top: 100px;
    padding-right: 250px;
}

.picture-area {
    flex:1;
    display: flex;
    flex-direction: column;
}

.red-color {
    color: red;
}

h1 {
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-message {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.follow-message {
    font-weight: bold;
    margin-right: 10px;
}

.content-follow-area {
    display: flex;
    align-items: center;
}

.white-arrow-button {
    margin-left: 20px;
    border-radius: 50%;
    background-color: black;
    height: 100%;
    width: 10px;
}

.image-style {
    max-width: 93%;
    max-height: 300px;
    margin-bottom: 20px;
}

.right-pictures {
    padding-top: 150px
}

